.player {
    display: flex;
    align-items: center;
    background-color: #92000091;
    font-size: 30px;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    padding: 5px;
    img {
      height: 30px;
      margin-right: 5px;
      margin-left: 8px;
      object-fit: cover;
    }
}

.player_active {
    background-color: #ff0000;
}