.startscreen_container{
    background-color: #131313;
    height: 100dvh;
    width: 100dvw;
    max-width: 100%;
    max-height: 100%;
    background-image: url('../../../public/assets/img/startscreen/startscreen_bg.png');
    background-size: cover;
}